#show-border{
    border: 2px solid #000000;
}
/*
Hides everything in smaller display less than sm*/
#hide-sm{
    @media  (max-width: 576px) {
        display: none;
        
    }
}

#hide-md{
    @media  (max-width: 768px) {
        display: none;
        
    }
}
